<tr id="batch_<%= batch.id %>">

  <td><%= batch.name %></td>

  <td class="date"><%= batch.created_at %></td>

  <td><%= batch.username %></td>


  <td><%= batch.progress %></td>
  <td><%= batch.message? ? "<button onclick=\"alert('#{batch.message}');\">View Message</button>".html_safe : "No Message" %></td>

  <td>
    <%= link_to(
            "Run Again",
            main_app.csv_rerun_path(id: batch.id),
            data: { 'create-type' => 'batch' },
            class: 'btn btn-primary'
        ) if batch.complete? && (current_ability.admin? || current_page?(main_app.csv_my_batches_path(locale: nil))) %>
  </td>
</tr>
