<% provide :page_title, "CSV Checker" %>

<h1>CSV Checker</h1>

<!-- <div class="row"> -->
<p>This tool validates CSV data and creates a table listing any errors.</p>
<a role="button" class="collapse-toggle collapsed csv-collapse-link" data-toggle="collapse" data-target="#errors-explanation" aria-expanded="false">
  <span id="csv-collapse-link-text">Expand for more details</span>
</a>
<div class="collapse" id="errors-explanation">
  <ul>
    <li><strong>File paths: </strong>The url field contains a valid path to a file.</li>
    <% if @path_to_drive.present? %>
      <li><strong>Mounted drive: </strong>A mounted directory exists and is not empty.</li>
    <% end %>
    <% if @edtf_fields.present? %>
      <li><strong>EDTF dates: </strong>Valid <a href="https://www.loc.gov/standards/datetime/" target="_blank">EDTF</a> dates or "unknown" in configured fields.</li>
    <% end %>
    <% if @uri_fields.present? %>
      <li><strong>Valid URIs ("page" vs "vocab"): </strong>URIs link to the "vocab" address rather than the "page" address for configured fields. For example, rights_statement should be "http://rightsstatement.org/vocab/..." and not "https://rightsstatement.org/page/..."</li>
    <% end %>
    <% if @separator.present? and @separator_fields.present? %>
      <li><strong>Multi-value separator: </strong>Configured fields with URIs contain the right separator character (e.g. <%= @separator %>).</li>
    <% end %>
  </ul>
</div>
<%= form_tag(check_csv_path, remote: true, method: :post, multipart: true, id: "csv-form") do %>
  <div class="input-group">
    <%= file_field_tag(:file, class: "form-control-file") %>
    <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
    <%= button_tag(type: :submit, class: "btn btn-large btn-primary", style: "margin-top: 1em;") do %>
      Check CSV
    <% end %>
<% end %>
</div>
<!-- </div> -->

<div id="error_list" class="col-md-10 offset-md-1">
  <%= render 'error_list' %>
</div>
