<h1><span class="fa fa-angle-double-up"></span> <%= default_page_title %></h1>

<%= form_for :csv_import, url: csv_create_path do |f| %>
	<%= f.label 'Multi-value Separator:' %>
    <%= f.text_field 'mvs' %>
    <br />
    <%= f.file_field 'csv_file' %>
    <br />
    <%= f.label 'Admin Set:' %>
    <%= select_tag "admin_set", options_for_select(@admin_sets), :include_blank => true %>
    <br />
    <%= f.label 'Collection:' %>
    <%= select_tag "collection", options_for_select(@collections), :include_blank => true %>
    <br />
	<%= f.submit 'Save' %>
<% end %>
<br />
<%= link_to "template", csv_generate_path %>
