<li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
	<li>
		<%= menu.collapsable_section t('CDM Migrator'),
							 icon_class: "fa fa-map-signs",
							 id: 'collapseCdmMigrator',
							 open: false do %>
			<%= menu.nav_link(main_app.csv_upload_path) do %>
				<span class="fa fa-angle-double-up"></span> <span class="sidebar-action-text"><%= t('CSV Batch Uploader') %></span>
			<% end %>
			
			<%= menu.nav_link(main_app.cdm_start_path) do %>
				<span class="fa fa-map"></span> <span class="sidebar-action-text"><%= t('CDM Mapping Tool') %></span>
			<% end %>
		<% end %>
	</li>

  <% if can? :review, :submissions %>
    <%= menu.nav_link(hyrax.admin_workflows_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
    <% end %>
  <% end %>

  <% if can? :manage, User %>
    <%= menu.nav_link(hyrax.admin_users_path) do %>
      <span class="fa fa-user" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
    <% end %>
  <% end %>
  
  <% if can? :manage, Hyku::Group %>
          <%= menu.nav_link(main_app.admin_groups_path) do %>
            <span class="fa fa-users"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.manage_groups') %></span>
          <% end %>
        <% end %>

  <% if can? :read, :admin_dashboard %>
    <%= menu.nav_link(hyrax.embargoes_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.embargoes.index.manage_embargoes') %></span>
    <% end %>

    <%= menu.nav_link(hyrax.leases_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.leases.index.manage_leases') %></span>
    <% end %>
  <% end %>
